<div class="custom-table">
  <div class="row header">
    <div class="cell">Time</div>
    <div class="cell">Duration</div>
    <div class="cell">Activity</div>
  </div>
  {% for row in (1..12) %}
    <div class="row">
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
    </div>
  {% endfor %}
</div>

<style>
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid black; /* Line under the first row */
    border-bottom: 1px solid black; /* Line under the last row */
  }

  .row {
    display: flex;
    width: 100%;
  }

  .row.header {
    font-weight: bold;
  }

  .cell {
    flex: 1;
    padding: 8px;
  }

  .cell:not(:last-child) {
    border-right: 1px solid transparent; /* Hide right border for all cells except the last */
  }
</style>
