<div class="yellow_content">
  <div class="text">
     <h1>Missed our call for participation and want to attend?</h1>
 <p>If you decide late that you are attending CHI and want to be part of the fraud-in-hci conversations, please email us at fraud.in.hci@gmail.com. Please include a couple of paragraphs on your experiences and intentions for the workshop. We still have slots for attendees, so we should be able to accommodate you! </p>
<p>Late submissions deadline: April 26, 2024</p>
  </div>
</div>

<style>
  .yellow_content {
    background-color: #FBF3B2;
    padding: 20px;
  }
</style>
