<div class="yellow_content">
  <div class="text">
     <h2> 📣 Late Submissions: Missed our call for participation and still want to attend?</h2>
 <p>If you decide late that you are attending CHI and want to be part of the fraud-in-hci conversations, send us an email at <a href="mailto:fraud.in.hci@gmail.com">fraud.in.hci@gmail.com</a>. Please indicate what your experiences with fraud are, and your intentions for the workshop. We still have slots for attendees, so we should be able to accommodate you! </p>
<p><strong>Late submissions deadline:</strong> April 26, 2024</p>
  </div>
</div>

<style>
  .yellow_content {
    background-color: #FBF3B2;
    padding: 20px;
  }
</style>
